.hero {
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
    justify-content: space-between;

    .hero-content {
        display: flex;
        margin-left: 20px;
        color: $white-color;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h1 {
            margin: 0;
            display: flex;
            position: relative;
            align-items: center;
            @include font-size(40px);
            text-transform: uppercase;
            
            img {
                top: -88%;
                width: 52px;
                right: -28%;
                position: absolute;
            }
        }

        h3 {
            margin: 20px 0;
            @include font-size(28px);
            
            a {
                color: $text-color;
                @include font-size(36px);
                text-transform: uppercase;
                text-decoration: underline;
            }
        }

        p {
            margin: 0 0 20px;
            font-size: $font-size-20;
        }

        .hero-content-btn {
            padding: 12px 16px;
            border-radius: 20px;
            font-size: $font-size-20;
            text-transform: uppercase;
        }
    }

    .hero-img {
        text-align: center;

        img {
            width: 88%;
        }
    }
}