/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .hero {
        .hero-content {
            h3 {
                font-size: $font-size-20;

                a {
                    @include font-size(28px);
                }
            }

            p {
                font-size: $font-size-20;
            }

            .hero-content-btn {
                .git,
                .face,
                .linkin,
                .twitter {
                    width: 48px;
                    height: 48px;
                }
            }
            
            .hero-content-git {
                font-size: $font-size-18;
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero {
        .hero-content {
            h3 {
                font-size: $font-size-18;
                
                a {
                    @include font-size(24px);
                }
            }

            p {
                font-size: $font-size-16;
            }

            .hero-content-btn {
                .git,
                .face,
                .linkin,
                .twitter {
                    width: 44px;
                    height: 44px;

                    svg {
                        font-size: 20px;
                    }
                }
            }
            
            .hero-content-git {
                font-size: $font-size-14;
            }
        }
    }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
    .hero {
        gap: 20px;
        height: auto;
        padding: 20px 0 40px;
        flex-direction: column;

        .hero-content {
            width: 100%;

            h3 {
                font-size: $font-size-14;

                a {
                    font-size: $font-size-18;
                }
            }

            p {
                font-size: $font-size-14;
            }

            .hero-content-btn {
                .git,
                .face,
                .linkin,
                .twitter {
                    width: 44px;
                    height: 44px;

                    svg {
                        font-size: 20px;
                    }
                }
            }
            
            .hero-content-git {
                font-size: $font-size-12;
            }
        }

        .hero-img {
            img {
                width: 40%;
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .hero {
        gap: 20px;
        height: auto;
        padding: 20px 0 20px;
        flex-direction: column;

        .hero-content {
            width: 100%;

            h3 {
                font-size: $font-size-12;

                a {
                    font-size: $font-size-14;
                }
            }

            p {
                font-size: $font-size-12;
            }

            .hero-content-btn {
                .git,
                .face,
                .linkin,
                .twitter {
                    width: 44px;
                    height: 44px;

                    svg {
                        font-size: 20px;
                    }
                }
            }
            
            .hero-content-git {
                padding: 8px 12px;
                font-size: $font-size-10;
            }
        }

        .hero-img {
            img {
                width: 50%;
            }
        }
    }
}