/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .hero {
        .hero-content {
            h1 {
                @include font-size(32px);

                img {
                    width: 40px;
                }
            }

            h3 {
                font-size: $font-size-20;

                a {
                    @include font-size(28px);
                }
            }

            p {
                font-size: $font-size-20;
            }

            .hero-content-btn {
                font-size: $font-size-18;
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero {
        .hero-content {
            width: 60%;

            h1 {
                @include font-size(28px);

                img {
                    width: 40px;
                }
            }

            h3 {
                font-size: $font-size-18;
                
                a {
                    @include font-size(24px);
                }
            }

            p {
                font-size: $font-size-16;
            }

            .hero-content-btn {
                font-size: $font-size-14;
            }
        }
    }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
    .hero {
        height: auto;
        padding-top: 40px;
        flex-direction: column;

        .hero-content {
            h1 {
                font-size: $font-size-16;

                img {
                    width: 24px;
                }
            }

            h3 {
                font-size: $font-size-14;

                a {
                    font-size: $font-size-18;
                }
            }

            p {
                font-size: $font-size-14;
            }

            .hero-content-btn {
                font-size: $font-size-12;
            }
        }

        .hero-img {
            img {
                width: 28%;
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .hero {
        height: auto;
        padding-top: 40px;
        flex-direction: column;

        .hero-content {
            h1 {
                font-size: $font-size-16;

                img {
                    width: 24px;
                }
            }

            h3 {
                font-size: $font-size-12;

                a {
                    font-size: $font-size-14;
                }
            }

            p {
                font-size: $font-size-12;
            }

            .hero-content-btn {
                font-size: $font-size-10;
            }
        }

        .hero-img {
            img {
                width: 40%;
            }
        }
    }
}