/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .education {
        .education-title {
            @include font-size(30px)
        }

        .education-school {
            .education-school-item {
                .school-item-infor {
                    .item-infor-name {
                        font-size: $font-size-20;
                    }

                    .item-infor-major {
                        font-size: $font-size-18;
                    }

                    .item-infor-gpa,
                    .item-infor-subject {
                        font-size: $font-size-18;
                    }
                }

                .school-item-time {
                    font-size: $font-size-20;
                }
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .education {
        .education-title {
            @include font-size(28px)
        }

        .education-school {
            .education-school-item {
                .school-item-infor {
                    .item-infor-name {
                        font-size: $font-size-18;
                    }

                    .item-infor-major {
                        font-size: $font-size-16;
                    }

                    .item-infor-gpa,
                    .item-infor-subject {
                        font-size: $font-size-16;
                    }
                }

                .school-item-time {
                    font-size: $font-size-18;
                }
            }
        }
    }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
    .education {
        .education-title {
            @include font-size(24px)
        }

        .education-school {
            .education-school-item {
                gap: 20px;
                flex-direction: column;

                .school-item-infor {
                    .item-infor-name {
                        font-size: $font-size-16;
                    }

                    .item-infor-major {
                        font-size: $font-size-14;
                    }

                    .item-infor-gpa,
                    .item-infor-subject {
                        font-size: $font-size-14;
                    }
                }

                .school-item-time {
                    font-size: $font-size-16;
                }
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .education {
        .education-title {
            @include font-size(20px)
        }

        .education-school {
            .education-school-item {
                gap: 20px;
                flex-direction: column;

                .school-item-infor {
                    .item-infor-name {
                        font-size: $font-size-14;
                    }

                    .item-infor-major {
                        font-size: $font-size-12;
                    }

                    .item-infor-gpa,
                    .item-infor-subject {
                        font-size: $font-size-12;
                    }
                }

                .school-item-time {
                    gap: 12px;
                    font-size: $font-size-14;
                }
            }
        }
    }
}
