.button {
    border: none;
    font-weight: 700;
    color: $white-color;
    background-color: $btn-color;

    svg {
        color: $white-color;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}