/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .educationhero {
        .contacthero-img {
            svg {
                width: 100%;
                height: 500px;
            }
        }
    
        .contacthero-content {
            .contacthero-content-title {
                @include font-size(28px);
            }
    
            .contacthero-content-desc {
                font-size: $font-size-18;
            }
    
            .contacthero-content-icons {
                .icon {
                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .educationhero {
        .contacthero-img {
            svg {
                width: 100%;
                height: 400px;
            }
        }
    
        .contacthero-content {
            .contacthero-content-title {
                @include font-size(24px);
            }
    
            .contacthero-content-desc {
                font-size: $font-size-16;
            }
    
            .contacthero-content-icons {
                .icon {
                    img {
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }
    }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
    .educationhero {
        align-items: center;
        margin-bottom: 60px;
        flex-direction: column;

        .contacthero-img {
            width: 80%;

            svg {
                width: 100%;
                height: 300px;
            }
        }
    
        .contacthero-content {
            width: 100%;

            .contacthero-content-title {
                font-size: $font-size-20;
            }
    
            .contacthero-content-desc {
                font-size: $font-size-14;
            }
    
            .contacthero-content-icons {
                .icon {
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .educationhero {
        align-items: center;
        margin-bottom: 40px;
        flex-direction: column;

        .contacthero-img {
            width: 80%;

            svg {
                width: 100%;
                height: 200px;
            }
        }
    
        .contacthero-content {
            width: 100%;

            .contacthero-content-title {
                font-size: $font-size-16;
            }
    
            .contacthero-content-desc {
                font-size: $font-size-12;
            }
    
            .contacthero-content-icons {
                .icon {
                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}
