/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .about {
        .about-title {
            @include font-size(30px);
        }

        .about-content {
            .about-content-avatar {
                .content-avatar-img {
                    height: 460px;
    
                    img{
                        width: 100%;
                    }
                }
            }

            .about-content-information {
                h2 {
                    font-size: $font-size-20;
    
                    strong {
                        @include font-size(22px)
                    }
                }
    
                p,table {
                    font-size: $font-size-18;
                }
    
                .content-information-btn {
                    .btn-git,
                    .btn-link,
                    .btn-face {
                        width: 48px;
                        height: 48px;
                    }
                }
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .about {
        .about-title {
            @include font-size(28px);
            margin-bottom: 20px;
        }

        .about-content {
            .about-content-avatar {
                .content-avatar-img {
                    height: 380px;
    
                    img{
                        width: 100%;
                    }
                }
            }
    
            .about-content-information {
                h2 {
                    font-size: $font-size-18;
    
                    strong {
                        @include font-size(20px)
                    }
                }
    
                p,table {
                    font-size: $font-size-16;
                }
    
                .content-information-btn {
                    .btn-git,
                    .btn-link,
                    .btn-face {
                        width: 44px;
                        height: 44px;
        
                        svg {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
    .about {
        .about-title {
            margin-bottom: 20px;
            @include font-size(24px);
        }
        
        .about-content {
            gap: 20px;
            flex-direction: column-reverse;

            .about-content-avatar {
                .content-avatar-img {
                    height: 380px;
    
                    img{
                        width: 80%;
                    }
                }
            }
    
            .about-content-information {
                h2 {
                    font-size: $font-size-16;
    
                    strong {
                        font-size: $font-size-18;
                    }
                }
    
                p, table {
                    font-size: $font-size-14;
                }
    
                .content-information-btn {
                    .btn-git,
                    .btn-link,
                    .btn-face {
                        width: 44px;
                        height: 44px;
        
                        svg {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .about {
        .about-title {
            margin-bottom: 20px;
            @include font-size(24px)
        }
        
        .about-content {
            gap: 20px;
            flex-direction: column-reverse;

            .about-content-avatar {
                .content-avatar-img {
                    height: 320px;
    
                    img{
                        width: 80%;
                    }
                }
            }
    
            .about-content-information {
                h2 {
                    font-size: $font-size-14;
    
                    strong {
                        font-size: $font-size-16;
                    }
                }
    
                p, table {
                    font-size: $font-size-12;
                }
    
                .content-information-btn {
                    .btn-git,
                    .btn-link,
                    .btn-face {
                        width: 44px;
                        height: 44px;
        
                        svg {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}