.button-text {
    border: none;
    color: $white-color;
    border-radius: 20px;
    font-size: $font-size-16;
    text-transform: uppercase;
    background-color: $btn-color;
    font-weight: $font-weight-700;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}