.skill {
    width: 100%;
    height: auto;
    display: flex;
    padding: 60px 0;
    flex-direction: column;

    .skill-title {
        margin: 0 0 40px;
        color: $text-color;
        text-transform: uppercase;
    }
}