@import './variables.style.scss';
// Scrollbar styling
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: $black-color;
}

::-webkit-scrollbar-thumb {
    @include bg-color(#888);
    border-radius: $border-radius-4; ;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $white-color;
}

// Styling for the #root element
body {
    all: unset;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: 300;
    font-style: normal;
    font-family: "Merriweather", serif;
    background-color: $primary-color;
}
