@import "./variables.style.scss";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: $primary-color;
}

::-webkit-scrollbar-thumb {
    @include bg-color(#888);
    border-radius: 4px;
    ;
}

body {
    all: unset;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: 300;
    font-style: normal;
    font-family: $font-family;
    background-color: $primary-color;
}
