//Font-family
$font-family: "Merriweather", serif;
$logo-family: "Great Vibes", cursive;

// Color variables
$btn-color: #001c55;
$text-color: #7f8daa;
$black-color: #000000;
$white-color: #ffffff;
$header-color: #ecf7fc;
$primary-color: #edf9fe;
$btn-text-color: #edf9fe;
$title-text-color: #001c55;
$header-text-color: #001c55;
$text-action-color: #001c55;
$text-person-color: #818eab;
$btn-hover-text-color: #001c55;
$hover-background-color: #a6e1ff;

// Z-index variables
$z-index-sm: 10;
$z-index-md: 100;
$z-index-lg: 1000;

// Font size variables
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;

// Mixin for color
@mixin color($color: $white-color) {
    color: $color;
}

// Mixin for background color
@mixin bg-color($bg: $white-color) {
    background: $bg;
}

// Mixin for padding
@mixin padding($size: $padding-4) {
    padding: $size;
}

// Mixin for margin
@mixin margin($size: $margin-4) {
    margin: $size;
}

// Mixin for border-radius
@mixin border-radius($radius: $border-radius-4) {
    border-radius: $radius;
}

// Mixin for font size
@mixin font-size($size: $font-size-16) {
    font-size: $size;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes revealRotate {
    0% {
        transform: perspective(400px) rotate3d(0, -1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotate3d(0, -1, 0, -20deg);
        animation-timing-function: ease-in;
    }
    
    60% {
        transform: perspective(400px) rotate3d(0, -1, 0, 10deg);
        opacity: 1;
    }
    
    80% {
        transform: perspective(400px) rotate3d(0, -1, 0, -5deg);
    }
    
    100% {
        transform: perspective(400px);
    }
}

@keyframes projectsRotate {
    0% {
        transform: perspective(400px) rotate3d(0, -1, 0, 60deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    25% {
        transform: perspective(400px) rotate3d(0, -1, 0, -20deg);
        opacity: 1;
    }
    
    75% {
        transform: perspective(400px) rotate3d(0, -1, 0, 15deg);
    }
    
    100% {
        transform: perspective(400px);
    }
}
