.experience {
    width: 100%;
    height: auto;
    display: flex;
    padding: 60px 0;
    flex-direction: column;
    border-top: 1px solid $btn-color;
    border-bottom: 1px solid $btn-color;

    .experience-title {
        margin: 0 0 40px;
        color: $text-color;
        text-transform: uppercase;
    }

    .experience-content {
        gap: 20px;
        display: flex;
        flex-direction: column;

        .experience-content-item {
            display: flex;
            justify-content: space-between;

            .content-item-infor {
                gap: 20px;
                display: flex;
                color: $white-color;
                flex-direction: column;

                .item-infor-position {
                    margin: 0;
                    opacity: .6;
                    text-transform: uppercase;
                }

                .item-infor-company {
                    margin: 0;
                    color: $white-color;
                    font-size: $font-size-20;
                    text-transform: uppercase;
                }

                .item-infor-technical {
                    margin: 0;
                }

                .item-infor-role {

                    ul {
                        margin: 8px 0 0;
                        padding-left: 16px;

                        li {
                            padding-left: 20px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }

    .content-item-time {
        gap: 8px;
        display: flex;
        align-items: flex-start;
        font-size: $font-size-20;
        text-transform: capitalize;
        justify-content: flex-start;
        
        .item-time-end,
        .item-time-start {
            margin: 0;
            color: $white-color;

            strong {
                color: $text-color;
                font-weight: $font-weight-400;
            }
        }
    }
}