/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card {  
        width: 340px;
        height: 460px;

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    
            img {
                width: 100%;
                height: 280px;
            }
        }

        .card-content {
            .card-content-header {    
                .content-header-name {
                    font-size: $font-size-20;
                }
        
                .content-header-describe {
                    font-size: $font-size-18;
                }
            }
            
            .card-content-btn {  
                .btn-git,
                .btn-demo {
                    font-size: $font-size-16;
                    text-transform: capitalize;
        
                    svg {
                        font-size: $font-size-18;
                    }
                }
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card { 
        width: 320px;
        height: 420px;

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    
            img {
                width: 100%;
                height: 260px;
            }
        }

        .card-content {
            .card-content-header {    
                .content-header-name {
                    font-size: $font-size-18;
                }
        
                .content-header-describe {
                    font-size: $font-size-16;
                }
            }
            
            .card-content-btn {  
                .btn-git,
                .btn-demo {
                    font-size: $font-size-14;
                    text-transform: capitalize;
        
                    svg {
                        font-size: $font-size-16;
                    }
                }
            }
        }
    }
}

/* 620px to 768px */
@media screen and (min-width: 620px) and (max-width: 767px) {
    .card {
        width: 65%;
        height: 380px;

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    
            img {
                width: 100%;
                height: 240px;
            }
        }

        .card-content {
            .card-content-header {    
                .content-header-name {
                    font-size: $font-size-16;
                }
        
                .content-header-describe {
                    font-size: $font-size-14;
                }
            }
            
            .card-content-btn {  
                .btn-git,
                .btn-demo {
                    font-size: $font-size-14;
                    text-transform: capitalize;
        
                    svg {
                        font-size: $font-size-16;
                    }
                }
            }
        }
    }
}

/* 500px to 619px */
@media screen and (min-width: 500px) and (max-width: 619px) {
    .card {
        width: 80%;
        height: 380px;

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    
            img {
                width: 100%;
                height: 240px;
            }
        }

        .card-content {
            .card-content-header {    
                .content-header-name {
                    font-size: $font-size-16;
                }
        
                .content-header-describe {
                    font-size: $font-size-14;
                }
            }
            
            .card-content-btn {  
                .btn-git,
                .btn-demo {
                    font-size: $font-size-14;
                    text-transform: capitalize;
        
                    svg {
                        font-size: $font-size-16;
                    }
                }
            }
        }
    }
}

/* max 499px */
@media screen and (max-width: 499px) {
    .card {  
        width: 70%;
        height: 340px;

        .card-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
    
            img {
                width: 100%;
                height: 200px;
            }
        }
    
        .card-content {
            .card-content-header {    
                .content-header-name {
                    font-size: $font-size-14;
                }
        
                .content-header-describe {
                    font-size: $font-size-12;
                }
            }
            
            .card-content-btn {  
                .btn-git,
                .btn-demo {
                    font-size: $font-size-12;
                    text-transform: capitalize;
        
                    svg {
                        font-size: $font-size-14;
                    }
                }
            }
        }
    }
}