.contacthero {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;

    .contacthero-img {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            width: 52%;
        }
    }

    .contacthero-content {
        gap: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .contacthero-content-title {
            margin: 0;
            font-weight: 700;
            text-align: center;
            color: $title-text-color;
            @include font-size(32px);
            text-transform: uppercase;
        }

        .contacthero-content-desc {
            margin: 0;
            font-weight: 400;
            color: $text-color;
            text-align: center;
            font-size: $font-size-20;
        }

        .contacthero-content-btn {
            gap: 12px;
            display: flex;
            justify-content: center;

            .icon {
                width: 48px;
                height: 48px;
                
                img {
                    width: 70%;
                }
            }
        }

        .contacthero-content-resume {
            padding: 12px 24px;
            border-radius: 16px;
            font-size: $font-size-20;
            border: 1px solid $btn-color;
        }
    }
}