.header {
    width: 86%;
    height: 60px;
    display: flex;
    z-index: 1000;
    position: sticky;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    animation: slideInFromTop 1.5s ease forwards;

    .header-name {
        gap: 16px;
        display: flex;
        font-weight: 700;
        text-decoration: none;
        @include font-size(32px);
        font-family: $logo-family;
        text-transform: uppercase;
        color: $header-text-color;
    }

    .header-menu {
        height: 100%;
        display: none;
        align-items: center;

        .header-menu-icon {
            font-size: 28px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .header-nav {
        margin: 0;
        display: flex;
        list-style: none;
        color: $title-text-color;
        text-transform: capitalize;
        background-color: transparent;

        .header-nav-item {
            padding: 16px;
            font-weight: 400;
            align-items: center;
            font-size: $font-size-20;
            
            &:hover {
                cursor: pointer;
                background-color: $hover-background-color;
            }
        }
        
        .header-nav-item.active {
            font-weight: 700;
        }
    }
}

.header.scrolled {
    top: 0;
    width: 86%;
    background-color: $header-color;
}