/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header {

        .header-name {
            @include font-size(24px);
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        position: sticky;

        .header-name {
            font-size: $font-size-20;
        }

        .header-menu {
            display: flex;
        }

        .header-nav {
            top: 80%;
            right: 12px;
            gap: 12px;
            opacity: 0;
            padding: 12px 28px;
            position: absolute;
            visibility: hidden;
            flex-direction: column;
            box-shadow: 0 0 10px black;
            border-radius: $border-radius-8;
            transition: opacity 1s ease, visibility 1s ease;
            background-color: $primary-color;

            .header-nav-item {
                text-align: center;
                font-size: $font-size-16;
            }
        }

        .header-nav.open {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* max 768px */
@media screen and (max-width: 767px) {
    .header {
        position: sticky;

        .header-name {
            font-size: $font-size-18;
        }

        .header-menu {
            display: flex;
        }

        .header-nav {
            top: 80%;
            right: 12px;
            gap: 12px;
            opacity: 0;
            padding: 12px 28px;
            position: absolute;
            visibility: hidden;
            flex-direction: column;
            box-shadow: 0 0 10px black;
            border-radius: $border-radius-8;
            transition: opacity 1s ease, visibility 1s ease;

            .header-nav-item {
                text-align: center;
                font-size: $font-size-16;
            }
        }

        .header-nav.open {
            opacity: 1;
            visibility: visible;
        }
    }
}