.footer {
    width: 86%;
    display: flex;
    text-align: center;
    color: $white-color;
    padding: 40px 0;
    align-items: center;
    font-size: $font-size-18;
    text-transform: capitalize;
    justify-content: space-around;

    .footer-copyright {
        gap: 4px;
        display: flex;
        align-items: center;
        .footer-copyright-img {
            font-size: $font-size-16;
        }
    }

    .footer-develop {
        display: flex;
        gap: 4px;
        align-items: center;

        .footer-develop-last,
        .footer-develop-first {
            color: #cc6c79;
            font-size: 32px;
        }

        .footer-develop-last {
            transform: rotateY(180deg);
        }
    
        a {
            font-weight: 600;
            color: $white-color;
            text-transform: uppercase;
            text-decoration: underline;
    
            &:hover {
                color: #cc6c79;
            }
        }
    }
}